body{
    background-image: url(/img/fondo3.gif);
    background-size: cover;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 155px );
    grid-template-rows: repeat(3, 100px);
    grid-gap: 20px;
    margin-top: -2rem;

}
.contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    background-color:transparent;
    height: 30rem;
    width: 50rem;
    margin-left: 25rem;
    border-radius: 8px;
    
}

#gato1{
    width: 10rem;
    height: 8rem;
    border-right: 1rem solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    background-color: transparent;
    border-top: 0px;

}

#gato2 {
    width: 10rem;
    height: 8rem;
    border-right: 1rem solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    border-top: 0px;
    background-color:transparent;
}

#gato3 {
    width: 10rem;
    height: 8rem;
    border-top: 0px;
    border-radius: 0.5rem;
    background-color: transparent;
}

#gato4{
    width: 10rem;
    height: 8rem;
    border-right: 1rem solid rgb(168, 168, 168);
    border-top: 1rem solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    background-color: transparent;
}

#gato5 {
    width: 10rem;
    height: 8rem;
    border-right: 1rem solid rgb(168, 168, 168);
    border-top: 1rem solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    background-color: transparent;
}

#gato6 {
    width: 10rem;
    height: 8rem;
    border-radius: 0.5rem;
    border-top: 1rem solid rgb(168, 168, 168);
    
    background-color: transparent;
}

#gato7 {
    width: 10rem;
    height: 8rem;
    border-right: 1rem solid rgb(168, 168, 168);
    border-top: 1rem solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    background-color: transparent;

}

#gato8{
    width: 10rem;
    height: 8rem;
    border-right: 1rem solid rgb(168, 168, 168);
    border-top: 1rem solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    background-color: transparent;

}

#gato9{
    width: 10rem;
    height: 8rem;
    border-right: 0px;
    border-top: 1rem solid rgb(168, 168, 168);
    border-radius: 0.5rem;
    background-color: transparent;

}