body{
    background-color: black;
    background-image: url("/img/fondo\ final3.jpg");
    width: 20rem;
    height: 2rem;
    background-size: cover;
}
h1{
    color: rgb(213, 9, 9);
    font: oblique bold 4rem cursive;
}
h2{
    color: rgb(213, 9, 9);
    font: oblique bold 2rem cursive;
    

}
h3{
    color: rgb(5, 5, 5);
    font-size: 3rem;
    font: oblique bold 3rem cursive;
}
label{
    color: rgb(2, 2, 2);
    font-size: 1.5rem;
    font: oblique bold 1.2rem cursive;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 20rem;
    margin-top: 12rem;
    
}
.infoContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/login.jpg);
    background-size: cover;
    border: 2px solid rgb(126, 4, 4);
    height: 25rem;
    width: 60rem ;
    border-radius: 3rem;
    
    
}
.input2{
    position: relative;
    border-bottom: 2px solid white;
    background-color: transparent;
    padding: 1px;
    
}
a{
    color: rgb(213, 9, 9);
    text-decoration: none;
    font: oblique bold 1.2rem cursive;
}